.all-news{
  background-color: beige;
}

img{
  width: 7rem;
  height: 7rem;  
}

.company-news-list{
  width: 50%;
  padding: .5rem;
}

.story > a {
  display: flex;
}

img{
  margin: .5rem;
}

.company-news-list>h2{
  margin-block-start: 0;
  border-bottom: 3px solid black;
}